html, body {
    font-family: monospace;
    @apply bg-neutral-100;
}

a.link {
  @apply text-blue-500 hover:underline ring-offset-[4px];
}

h1,
h2,
h3,
h4 {
  @apply font-bold;
}

h1 {
  @apply text-5xl;
}

h2 {
  @apply text-4xl;
}

h3 {
  @apply text-3xl;
}

h4 {
  @apply text-2xl;
}

button {
  @apply border border-solid border-black px-3 py-1;
}